@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Roboto+Slab:300,400,700|Katibeh:400');
@keyframes fadeIn{

0%{opacity: 0;}
100%{opacity: 1;}

}

html{
	height: 100%;
}

body {
	font-family: "Crimson Text", sans-serif;
	font-weight: 400;
	font-size: 2em;
	position: relative;
	background-color: rgb(20,20,20);
	color: rgb(153, 153, 153);
	height: 100%;

}
h1,h2,h3,h4,h5,h6 {
	font-family: "Crimson Text", sans-serif;
	font-weight: 600;
	margin: 0;
}
h2 {
		color: white;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.wrapper {
	height: 100%;
	animation: fadeIn 1.25s ease-in-out 0.25s;
	animation-fill-mode: backwards;
	display: none;
}
a:hover {
	color: white;
}
.fa {
		padding: 5px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
		color: white;
}
.fa:hover{
	text-decoration: none;
}
.page-divider img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 250px;
	margin-bottom: 30px;
}

.wide {
	width:100%;
  height:100%;
  /*height:calc(100% - 1px);*/
  background-image:url(../images/Squireling_Face_comp.png);
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/*.wide .pic {
  background-image:url(../images/face_logo.png);
	background-repeat: no-repeat;
  background-size: auto;
}*/

a {
	color: #fff;
}

.wide img {
  width:100%;
}
/** Header Nav **/
header .navbar {
	padding: 0;
	margin: 0;
	transition: all .5s ease-out;
}
header .navbar-default {
	background-color: transparent;
	border: none;
	background: rgba(44,42,42,.3);
}
header .navbar-default .navbar-nav a {
	color: white;
	padding: 30px 10px 10px;
}
header .navbar-default .navbar-nav a:hover {
	color: #EEC856;
}
header .navbar-default .navbar-nav .active a {
	/*font-weight: 700;*/
	color: white;
	background: transparent;
	border-bottom: 1px solid;
	text-shadow: none;
}
header .navbar-default .navbar-nav .active a:hover, a:focus {
	background: transparent;
}
.navbar-default .navbar-nav>li>a:focus, a:visited {
    color: white;
    background-color: transparent;
		text-shadow: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background-color: transparent;
}
/** Navbar Brand **/
header .navbar-brand {
	background: url(../images/Squireling_Face.png);
	background-repeat: no-repeat;
	background-position: 15px 0;
	background-size: contain;
	height: auto;
	min-height: 50px;
}
header .navbar-brand h1{
	color: white;
	margin:0;
	font-size: 1.8em;
	font-weight: 400;
	padding-left: 105px;
}

header .navbar-brand span.subhead {
	display: block;
	font-family: "Katibeh", sans-serif;
	font-size: .6em;
	font-weight: 100;
}
/** Navbar Toggle **/
header .navbar-toggle {
	background-color: black;
}
header .navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
@media only screen and (max-width: 768px) {
	header .navbar-collapse {
		background-color: rgba(0,0,0,.5);
	}
	header .navbar-brand span.subhead {
		display: none;
	}
}
/** nav inbody **/
header .navbar-default.inbody .navbar-nav a {
	color: white;
	padding: 8px 10px;
}
header .navbar-default.inbody .navbar-nav a:hover {
	color: #EEC856;
}
header .navbar-default.inbody .navbar-nav .active a {
	color: white;
}
header .inbody {
  background: rgba(44,42,42,.9);
}
header .navbar.inbody {
	padding-top: 0;
	padding-bottom: 0;
}
header .navbar.inbody .navbar-nav {
  padding-top: 10px;
}
header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}
header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}
header .inbody .navbar-brand span.subhead {
  display: none;
}
/** Carousel Fade **/

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  }


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }



/*old*/
/*.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	transition: opacity ease-out .7s;
	left: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
}
.carousel.fade .item:first-child {
	top: auto;
	opacity: 1;
	position: relative;
}
.carousel.fade .item.active {
	opacity: 1;
}
.carousel-control {
	opacity: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}*/
/*#home{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}*/
#main-carousel .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}
/** Page **/
.page {
	padding: 50px 0;
}
.page h2{
	text-align: center;
	margin-bottom: 10px;
}
/** Page -- About**/
#about{
	/*background-color: #E4D29D;
	background-image: linear-gradient(to bottom, #EEF08A, #819A2D);
	border-top: 20px solid rgba(238,200,86,.5);*/
}
/** Page -- Services**/
.service {
	margin: 20px 0;
	text-align: center;
}
.service img.icon {
	display: block;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#services h3 {
	margin-bottom: 10px;
}

@media only screen
and (min-width: 450px)
and (max-width: 768px) {
	.service p {
		padding: 0 20%;
	}
}
/** Page -- Podcast**/
#podcast {
	/*background-color: #E4D29D;*/
	/*background-image: linear-gradient(to bottom, #E4D29D, #CDAE50);*/
}
#podcast .container.searchbox {
	margin-bottom: 25px;
}
#podcast .podcast-ajax {
	min-height: 170px;
}
#podcast .podcast-ajax h5 {
	padding: 5px 0;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.guest {
	margin: 10px 0;
}
.guest h3 {
	font-weight: 600;
	font-size: 1.2em;
	color: white;
	padding-bottom: 5px;
}
.guest p {
	font-size: .8em;
}
.guest img {
	width: 100%;
	position: relative;
	display: inline-block;

}

/*.guest i {
	position: absolute;

	top: 40%;
	margin-top: -10px;
	left: 45%;
	margin-left: -10px;
	 z-index: 999;

}

.guest i:hover{
	cursor: pointer;
	opacity: .5;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}*/


@media only screen
and (max-width: 1200px){
	.guest.new-row {
		margin-top: 0;
	}
}
.guest .row {
	min-height: 150px;
}
.photo .img-circle {
  /*opacity: .9;*/
  transition: all 0.3s ease-out;
}

@media only screen
and (max-width: 1200px)
and (min-width: 768px) {
	.photo .img-circle {
		width: 130px;
		height: 130px;
	}
}

@media only screen
and (max-width: 767px) {
	.photo a img {
		width: 50%;
		margin: auto;
		display: block;
	}
}

.photo .img-circle:hover {
  cursor: pointer;
  opacity: .5;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.photo.col-md-2{

}
@media only screen and (max-width: 768px) {
	h3, h4, h5 {
		text-align: center;
		font-weight: bold;
	}
	.info {
		margin-top: 10px;
	}
}

/*#podcast-pagination-group a {
	color: black;
}*/
/** Page -- Store**/
#store .content {
	min-height: 300px;
}
/** Page -- Contact**/
#contact .content {
	min-height: 300px;
}
#contact a:hover, #contact a:visited{
	text-decoration: none;
	color: #EEC856;
	outline-color: none;
	outline-style: none;
}
/** Footer **/
footer {
	/*background:#586D74;*/
	color: white;
	font-size: .8em;
	padding: 20px 0 40px 0;
}
footer a {
	color: #E6DEA7;
}
footer a:hover {
	color: #EEC856 !important;
}
footer .navbar {
	margin-bottom: 0;
	min-height: 0;
}
footer .navbar-default {
	background-color: transparent;
	border: none;
	margin-right: 40px;
}
footer .navbar-nav>li a {
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: underline;
	color: #E6DEA7 !important;
}
@media only screen and (max-width: 768px) {
	footer .socialmediaicons {
		text-align: center;
	}
	footer .socialmediaicons .navbar {
		text-align: center;
		margin: 0;
		padding-top: 15px;
	}
}
