@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Roboto+Slab:300,400,700|Katibeh:400');

body {
	font-family: "Crimson Text", sans-serif;
	font-weight: 400;
	font-size: 2em;
	position: relative;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Crimson Text", sans-serif;
	font-weight: 600;
	margin: 0;
}
img {
	max-width: 200px;
}
.page {
	padding: 50px 0;
}
.page h2{
	text-align: center;
	margin-bottom: 30px;
}
/** Header Nav **/
header .navbar {
	padding: 30px 0;
}
header .navbar-default {
	background-color: transparent;
	border: none;
}
header .navbar-default .navbar-nav a {
	color: white;
	padding: 5px 8px;
}
header .navbar-default .navbar-nav a:hover {
	color: #EEC856;
}
header .navbar-default .navbar-nav .active a {
	font-weight: 700;
	color: #EEC856;
	background: transparent;
	border-bottom: 4px solid #EEC856;
	text-shadow: none;
}
header .navbar-default .navbar-nav .active a:hover {
	background: transparent;
}
/** Footer Nav **/
footer .navbar-default {
	background: transparent;
}
/*.navbar {
	border-radius: 0;
	border: 0;
}*/
